<footer class="footer border-bottom-0">
  <div>
    <p>&copy; 2024 StayVista. All Rights Reserved.</p>
    <p>Designed and Developed by Piyush Kumar</p>
    <p>
      <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> |
      <a href="#">Contact Us</a>
    </p>
  </div>
</footer>
