<nav
  class="navbar navbar-expand-lg bg-light border-bottom position-sticky z-3 w-100 top-0"
>
  <div class="container-fluid">
    <a title="StayVista" class="navbar-brand" href="/listings"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        height="35"
        viewBox="0 0 512 512"
      >
        <path
          fill="#E41D58"
          d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"
        /></svg
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/listings"
          >All listings</a
        >
      </div>
      <div class="navbar-nav ms-auto">   
        <a class="nav-link" href="/listings/new">Add new listing</a>
        <% if(!currentUser){%>
        <a class="nav-link fw-bold" href="/signup">SignUp</a>
        <a class="nav-link fw-bold" href="/login">Login</a>
        <%} %> <% if(currentUser){%>
        <a class="nav-link" href="/logout">Logout</a>
      </div>
    </div>
      <%} %>
  </div>
</nav>
