<% layout('./layouts/boilerplate.ejs') %>
<body>
  <h2 class="text-center mt-3">Create new listing</h2>
  <div class="row">
    <div class="col col-8 offset-2">
      <form
        action="/listings"
        method="post"
        novalidate
        class="container my-2 needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            autocomplete="on"
            type="text"
            name="listing[title]"
            class="form-control"
            id="title"
            required
            placeholder="Enter a catchy title"
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please provide a valid title!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            class="form-control resize"
            name="listing[description]"
            id="description"
            rows="3"
            required
          ></textarea>
          <div class="valid-feedback">Awesome!</div>
          <div class="invalid-feedback">
            Please provide a short description!
          </div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input
            class="form-control"
            name="listing[image]"
            type="file"
            id="image"
            required
          />
          <div class="invalid-feedback">Image is required</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              class="form-control"
              id="price"
              required
              placeholder="1800"
            />
            <div class="invalid-feedback">Please provide a valid price!</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              class="form-control"
              id="country"
              required
              placeholder="India"
            />
            <div class="invalid-feedback">Please provide a valid country!</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            class="form-control"
            id="location"
            required
            placeholder="Bangalore, India"
          />
          <div class="invalid-feedback">Please provide a valid location!</div>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-dark py-2 fw-semibold" type="submit">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
