<% layout('./layouts/boilerplate.ejs') %>
<body>
    <div class="d-flex flex-column" style="height: 65vh; background-color: white;">
        <div class="d-flex flex-fill align-items-center justify-content-center">
          <div class="mx-auto text-center" style="max-width: 36rem; padding: 2rem 1rem;">
            <h1 class="fw-bold text-dark fs-2">
              We can't find that page.
            </h1>
      
            <p class="mt-4 text-secondary">
              Try searching again, or return home to start from the beginning.
            </p>
      
            <a
              href="/listings"
              class="mt-3 btn btn-dark"
            >
              Go Back Home
            </a>
          </div>
        </div>
      </div>
      
</body>
